@use  "tailwindcss/base";
@use  "tailwindcss/components";
@use  "tailwindcss/utilities";
@use  "@/styles/font.scss";
@use  "@/styles/custom-classes.scss";
@use  "@/styles/components/btn.scss";


:root {
    --TW-primary-color: 50 130 52;
    --TW-sec-primary-color: 138 188 35;
    --TW-border-color: 58, 69, 81,.2; 
    --TW-body-color: 255, 255, 255;
    --TW-shadow-sm: 0 0 20px 0 rgb(var(--TW-primary-color) / .20) ;
    --TW-box-shadow: rgba(20, 127, 205, 0.1) 1px 1px 20px 0px inset;
}


::-webkit-scrollbar {
  @apply w-2 h-2;
}

img {
  -webkit-user-drag: none; /* For Safari */
  user-drag: none; /* Non-standard but widely supported in modern browsers */
  pointer-events: none; /* Optional: Prevents any mouse events on the image */
}

body {
  @apply has-[.main-modal]:overflow-hidden relative text-text ;
}
body:after {
  content: "";
  @apply has-[.main-modal]:absolute top-0 left-0 w-full h-full bg-[#000000cc];
}

* {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary/10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-lg;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-background-clip: text !important;
  background-color: transparent !important;
}

input[type="radio"] {
  @apply accent-primary;
}


html[dir="ltr"] body,
html[dir="ltr"] body * {
  font-family: "HelveticaNeueCond", sans-serif !important;
}

html[dir="rtl"] body,
html[dir="rtl"] body * {
  font-family: "URWDin", sans-serif !important;
}

.main-sec{
  @apply py-3 lg:py-10;
}


.links-wrapper{
    @apply py-5 container ;

    .swiper-wrapper{
      @apply ps-4 ;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after{
      @apply text-gray-500;
    }
}